/* Front Login Page */
body {
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: #eee;  
}

.navbar {
	border: 0;
	height: 70px;
	/* background-color: transparent; */
}

.navbar-brand {
	margin-top: 10px;
}

.navbar-form {
	padding-top: 10px;
}

.navbar-form input {
	font-size: 15px;
}


.navbar-inverse .navbar-nav>li>a {
	color: #fff;
	font-size: 15px;
	font-weight: bold;
}

.navbar-inverse .navbar-brand {
	font-size: 20px;
	font-weight: bold;
}

/* Registration Form */
.reg-block {
	margin: 30px 10px;
	padding: 10px;
	background-color: #dddbdb;
}

.reg-block > b {
	color: green;
	padding-bottom: 10px;
}

.form-reg {
	padding: 15px;
	margin: 0 auto;
}

.form-group input[type="radio"] {
	
	float: left;
}

.form-group label {
	
	margin: 0px 20px;
}	

/* Home Page */
.left-div {
	background-color: #F8F8F8;
	padding: 5px 15px;
	color: #000;
	margin: 0 10px;
	border-radius: 5px;
}

.left-div .status {
	padding-bottom: 15px;
}

.right-div {
	background-color: #F8F8F8;
	color: #000;
	padding: 5px 10px;
	border-radius: 5px;
}

.home-container {
	padding: 20px 20px;
	margin: 0 20px;
	background-color: #968e8e;
	border-radius: 5px;
}

/* Error Page */
.error-block {
	background-color: #dddbdb;
	padding: 20px;
}
